# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Android
android/.gradle
android/app/build
android/build
android/captures
.gradle/
build/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# Secrets / Firebase
android/app/google-services.json

# Temporary / Zips
*.zip
*.log
*.apk
